{
  "plugins": [
    "transform-runtime",
    ["transform-es2015-classes"]
  ],
  "presets" : [
    "es2015",
    "stage-1"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
